body {
  /* border:3px solid red; */
  color:black;
  margin:0;
 }

header {
  /* border:3px solid green; */
  font-size:20px;
  background:blue;
  }

 h1 {
  /* border:3px solid red; */
  font-size: 60px;
 }

a {
  /* border:3px solid green; */
  text-decoration:none;
  }

.debug{
  /* outline:10px solid black ; */
  border:10px solid green;
}


.main {
  /* border: solid yellow; */
  background: blue;
  position:relative;

}

.browser-two{
  /* background-image: linear-gradient(to top,red, blue,transparent); */
  /* position:fixed;
  top:57px;
  z-index:1;
  width:100%; */
  background: white;
 }

.wrapper {
  /* border:3px solid yellow; */

  width:624px;
  margin:auto;
  box-sizing: border-box;



}

.main-content {
  /* border:3px solid purple; */
  padding:20px;

}

.hero-one{
  background-color: black;
  background-image:url('../images/hero-one.jpg') ;
  background-repeat: no-repeat;
  background-position:center;
  height:57px;
 }



 .title-one{
  color:red;
  font: size 30px;
}

p:hover{
  color:rgba(255,0,0,.5);
}
.stranger{
  background:black;
  width:100vw;
  /* margin: 10px; */
}

h1{
  counter-increment: titleList;
}

h1::before{
  content:counter(titleList)'. ';
}

h1::after{
  content:'-'
}

.foto{
  position:absolute;
  bottom:0;
  z-index:1;
}
